#*#
*.aux
*.backup
*.bak
*.core
*.dSYM
*.dvi
*.gcda
*.gch
*.icloud
*.img
*.log
*.noopt
*.o
*.optimized
*.pch
*.swp
*.unsafe
*.xcodeproj
*~
.DS_Store
.cproject
.devcontainer.json
.deps
.gitcheckout
.goutputstream-*
.hg
.project
.svn
.cs61tmpid
.vscode
a.out
cmake-build-*
config.mk
core*
cscope.out
debuglog.txt
log.txt
obj
pset.tgz
pset[1-9].tgz
pset[1-9]grade.tgz
strace.out
tags
tags.*
typescript
vgcore*
